nav, main {
	font-family: sans-serif;
}

h1, h2, h3 {
	font-family: serif;
}

table {
	width: 100%;
}

img {
	border-radius: 10px;
}

footer {
	margin-top: 3rem;
}

nav {
	max-width: 20rem;
	padding: 0 4rem 0 2rem;
	.menu-toggle {
		display: none;
		margin-top: 1rem;
		border: 1px solid;
		border-color: #000;
		background-color: #fff;
		font-size: inherit;
		color: #000;
	}
	.nav-links {
		margin-top: 1rem;
	}
	ul {
		list-style: none;
		padding: 1ch;
	}
}

.post-summary {
	max-width: 40rem;
}

.license-note {
	font-size: small;
	font-style: italic;
}

.page {
	display: flex;
	margin: 5rem auto 3rem;
	max-width: 80rem;
	padding: 1rem;
}

.page-content {
	flex-direction: column;
}

.p-summary {
	font-size: 80%;
	font-weight: lighter;
	margin-top: 0;
	margin-left: 2em;
}

.p-name {
	margin-bottom: 0;
}

code {
	background: #eee;
	background-color: #eee;
}

pre {
	code {
		display: block;
		overflow-x: auto;
		border: 1px solid black;
		border-radius: 5px;
	}
}

h1, h2, h3, p {
	code {
		display: inline;
	}
}

blockquote {
	padding: 10px 20px;
	border-left: 5px solid #eee;
}

.subtle {
	color: #000;
	text-decoration: none;
}

.subtle:hover {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.page {
		display: block;
	}
	nav {
		width: 100%;
		max-width: none;
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 0;
		.nav-links.collapsed {
			display: none;
		}
		.menu-toggle {
			display: block;
			width: 90%;
		}
		ul {
			li {
				display: inline-block;
			}
		}
	}
}
