$theme-color: #155799;
$accent-color: #e6811c;
$color-dark: #ddd;
$background-color-dark: #111;
$fonts: helvetica, arial, sans-serif;

body {
	font-family: $fonts;
	font-weight: lighter;
}

main {
	max-width: 40rem;
	line-height: 1.25;
	a:visited {
		color: $accent-color;
	}
}

a {
	color: $theme-color;
}

.alert {
	border: 2px solid;
	border-color: $theme-color;
	p {
		margin: 10px;
	}
}

.alert-heading {
	color: $theme-color;
	font-weight: bold;
}

.footnote-ref, .footnote-backref {
	text-decoration: none;
}

.footnote-ref {
	font-size: smaller;
}

h1, h2, h3 {
	font-family: $fonts;
	font-weight: initial;
}

.footnotes {
	font-size: small;
}

table {
	width: 100%;
}

img {
	border-radius: 10px;
}

#logo {
	border-radius: 100px;
}

.table-date {
	min-width: 6rem;
}

footer {
	margin-top: 3rem;
}

nav {
	max-width: 20rem;
	padding: 0 4rem 0 2rem;
	.menu-toggle {
		display: none;
		margin: 1rem 0;
		border: 1px solid;
		border-color: #000;
		background-color: #fff;
		font-size: inherit;
		color: #000;
	}
	.nav-links {
		margin-top: 1rem;
	}
	ul {
		list-style: none;
		padding: 1ch;
	}
	li {
		font-size: larger;
	}
}

.social-badges {
	li {
		margin-right: 5px;
	}
	display: flex;
	list-style: none;
}

#posse {
	display: flex;
	font-size: small;
	ul {
		margin: 0;
		padding-left: 5px;
	}
}

.license-note {
	font-size: small;
	font-style: italic;
}

sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.5em;
}

sub {
	top: 0.5em;
}

.page {
	display: flex;
	margin: 5rem auto 3rem;
	max-width: 60rem;
	padding: 1rem;
}

.page-content {
	flex-direction: column;
}

.p-summary {
	font-size: 80%;
	font-weight: lighter;
	margin-top: 0;
	margin-left: 2em;
}

.p-name {
	margin: 0 0;
	font-size: xx-large;
}

code {
	background: #eee;
	background-color: #eee;
}

pre {
	code {
		padding: 5px;
		display: block;
		overflow-x: auto;
	}
}

h1, h2, h3, p {
	code {
		display: inline;
	}
}

blockquote {
	padding: 10px 20px;
	padding-right: 0;
	margin-right: 0;
	border-left: 5px solid #eee;
}

.subtle {
	color: #000;
	text-decoration: none;
}

.subtle:hover {
	text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
	body {
		color: $color-dark;
		background-color: $background-color-dark;
	}
}

@media screen and (max-width: 768px) {
	.page {
		display: block;
	}
	nav {
		width: 100%;
		max-width: none;
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 0;
		.nav-links.collapsed {
			display: none;
		}
		.menu-toggle {
			display: block;
			width: 90%;
		}
		ul {
			li {
				display: inline-block;
			}
			li:not(last-child) {
				margin-right: .25rem;
			}
		}
	}
}
