<div class="h-card vcard" style="display: none">
<ul>
<li class="p-name fn">
<span class="p-given-name given-name">Daniel</span>
<span class="p-family-name family-name">Moch</span>
</li>
<li class="p-nickname nickname">djmoch</li>
<li class="p-note note">Software Engineer and Architect focused on DevOps</li>
<li><img class="p-photo photo" src="/assets/avatar.jpg" alt="{{ .Site.Params.Author.Name }}"></li>
<li><a class="u-email email" href="mailto:daniel@danielmoch.com">daniel@danielmoch.com</a></li>
<li><a class="u-key key" href="/static/gpg.asc">PGP</a></li>
<li><a class="u-key key" href="/static/djmoch-signify.pub">Signify</a></li>
<li><a class="u-url url" href="https://github.com/djmoch">GitHub</a></li>
<li><a class="u-url url" href="https://discuss.systems/@djmoch">Mastodon</a></li>
<li><a class="u-url url" href="https://bsky.app/profile/danielmoch.com">Bluesky</a></li>
<li><a class="u-url url" href="https://linkedin.com/in/djmoch">LinkedIn</a></li>
</ul>
</div>
