<nav>
	<img src="/assets/avatar.jpg" id="logo" alt="{{ .Site.Params.Author.Name }}" width="200" height="200">
	<button class="menu-toggle" id="menu-toggle">Menu</button>
	<div class="nav-links collapsed" id="nav-links">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/posts/">Posts</a></li>
		<li><a href="https://git.danielmoch.com">Git</a></li>
	</ul>
	<h2>Links</h2>
	<ul>
	{{ range .Site.Params.Links }}
		{{ if (and . (reflect.IsMap .)) }}
			<li><a href="{{ .ref }}">{{ .text }}</a></li>
		{{ end }}
	{{ end }}
	</ul>
	</div>
	{{ with resources.Get "nav.js" | minify | fingerprint }}
	<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
	{{ end }}
</nav>
