<nav>
	<img src="/assets/avatar.jpg" id="logo" alt="{{ .Site.Params.Author.Name }}" width="200" height="200">
	<button class="menu-toggle" id="menu-toggle">Menu</button>
	<div class="nav-links collapsed" id="nav-links">
	<ul>
	{{ range .Site.Params.Nav.Top }}
		{{ if (and . (reflect.IsMap .)) }}
			<li><a href="{{ .ref }}">{{ .text }}</a></li>
		{{ end }}
	{{ end }}
	</ul>
	<ul class="social-badges">
	{{ range .Site.Params.Nav.Links }}
		{{ if (and . (reflect.IsMap .)) }}
			<li><a href="{{ .ref }}"><i class="{{ .text }}"></i></a></li>
		{{ end }}
	{{ end }}
	</ul>
	</div>
	{{ with resources.Get "nav.js" | minify | fingerprint }}
	<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
	{{ end }}
</nav>
