{{ define "ogtype" }}website{{ end }}

{{ define "head_extra" }}
	<link rel="me" href="https://github.com/djmoch">
	<link rel="me" href="https://gitlab.com/djmoch">
	<link rel="me" href="https://lobste.rs/~djmoch">
	<link rel="me" href="https://discuss.systems/@djmoch">
	<link rel="me" href="https://gitlab.alpinelinux.org/djmoch">
	<link rel="me" href="https://dev.to/djmoch">
	<link rel="me" href="https://gravatar.com/djmoch">
	<link rel="me" href="mailto:daniel@danielmoch.com">
{{ end }}

{{ define "main" }}
	<h1>{{ .Site.Params.Author.Name }}</h1>
	{{ .Content }}
	<h2>Recent Posts</h2>
    <table>
    {{ $pages := where .Site.RegularPages "Section" "ne" "" }}
    {{ range $pages.Limit 5 }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "2006-01-02" }}
      <tr>
        <td class="table-date"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></td>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
      </tr>
        <td></td>
        <td>{{ .Description }}</td>
      </tr>
    {{ end }}
    </table>
{{ end }}
