{{ define "ogtype" }}website{{ end }}

{{ define "head_extra" }}
	<link rel="me" href="https://github.com/djmoch">
	<link rel="me" href="https://gitlab.com/djmoch">
	<link rel="me" href="https://lobste.rs/~djmoch">
	<link rel="me" href="https://discuss.systems/@djmoch">
	<link rel="me" href="https://gitlab.alpinelinux.org/djmoch">
	<link rel="me" href="https://dev.to/djmoch">
	<link rel="me" href="https://gravatar.com/djmoch">
	<link rel="me" href="mailto:daniel@danielmoch.com">
{{ end }}

{{ define "main" }}
	<h1>{{ .Site.Params.Author.Name }}</h1>
	{{ .Content }}
	<h2>Recent Posts</h2>
    {{ $pages := where .Site.RegularPages "Section" "ne" "" }}
    {{ range $pages.Limit 5 }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "2006-01-02" }}
      <div>
        <h3><a href="{{ .RelPermalink}}">{{ .Title }}</a></h3>
        <div class="post-summary">{{ .Summary }}</div>
      </div>
    {{ end }}
{{ end }}
