{{ define "ogtype" }}website{{ end }}

{{ define "head_extra" }}
	<link rel="me" href="https://github.com/djmoch">
	<link rel="me" href="https://gitlab.com/djmoch">
	<link rel="me" href="https://lobste.rs/~djmoch">
	<link rel="me" href="https://discuss.systems/@djmoch">
{{ end }}

{{ define "main" }}
	<div class="h-card">
		<h1 class="p-name">{{ .Site.Params.Author.Name }}</h1>
		<img class="u-photo" src="/assets/avatar.jpg" id="logo" alt="{{ .Site.Params.Author.Name }}" width="200" height="200">
		{{ .Content }}
	</div>
	<h2>License Info</h2>
	<table style="width: auto; margin: 1em 2em;">
		<tr>
			<td>Content: </td>
			<td><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></td>
		</tr>
		<tr>
			<td>Code: </td>
			<td><a href="https://github.com/djmoch/danielmoch.com/blob/master/LICENSE">ISC</a></td>
		</tr>
	</table>
{{ end }}
