				</div>
				<div class="sidebar col-xs-12 col-md-4">
					<hr class="visible-xs-block visible-sm-block">
					<div class="h-card">
						<img class="sidebar-image u-photo" src="/assets/avatar.jpg" id="logo" alt="Daniel Moch"><h1 class="visible-xs-block visible-sm-block p-name">Daniel Moch</h1>
						<div class="bio sidebar-section p-note">
I am a <span class="p-job-title">Software Engineer</span> currently living in
Orlando, Florida. My interests range from technology to entrepreneurship. I
am also interested in writing, movies, and astronomy. I'm also passionate
about seeing people take control of their own data.
						</div>
						<div class="social-links sidebar-section">
							<p>
								<span class="social-heading">Email</span>
								<a class="social-link u-email" rel="me" href="mailto:daniel@danielmoch.com">daniel@danielmoch.com</a>
							</p>
							<p>
								<span class="social-heading">Mastodon</span>
								<a class="social-link u-url" rel="me" href="https://mastodon.danielmoch.com/@djmoch">@djmoch@mastodon.danielmoch.com</a>
							</p>
							<p>
								<span class="social-heading">Twitter</span>
								<a class="social-link u-url" rel="me" href="https://twitter.com/_djmoch">@_djmoch</a>
							</p>
							<p>
								<span class="social-heading">Github</span>
								<a class="social-link u-url" rel="me" href="https://github.com/djmoch">djmoch</a>
							</p>
							<p>
								<span class="social-heading">PGP</span>
								<a class="social-link u-url" rel="me" href="/static/gpg.asc">84BDDD43</a>
							</p>
							<p>
								<span class="social-heading">Signify</span>
								<a class="social-link u-url" rel="me" href="/static/djmoch-signify.pub">djmoch-signify.pub</a>
							</p>
						</div>
					</div>
					<div class="sidebar-section">
						<h2>Links</h2>
						<ul style="before: none;">
							<li><a href="/archive.html">Archive</a></li>
							<li><a href="/categories">Categories</a></li>
							<li><a href="/rss.xml">RSS</a></li>
				        </ul>
					</div>
					<div class="sidebar-section">
						<h2>License Info</h2>
						<ul>
							<li>
								<span>Content: </span>
								<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
							</li>
							<li>
								<span>Code: </span>
								<a href="https://git.danielmoch.com/danielmochdotcom/tree/LICENSE.txt">MIT</a>
							</li>
							<ul>
							</ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
